
body, html,
#dashboard {
	width: 100%;
	height: 100%;
}

#dashboard {
	background-color: #e7e2d6;
}

.dashboard-layout > div {
	overflow: hidden;
}

table.numberTable {
	margin: 3px;
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: green;
	border-collapse: separate;
	background-color: white;
	-moz-border-radius: 3px;
}

table.numberTable th {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color: gray;
	background-color: rgb(255, 245, 238);
}

table.numberTable td {
	border-width: 0px;
	padding: 2px;
	border-style: none;
	border-color: gray;
	background-color: rgb(255, 245, 238);
}

.bulb-container {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.bulb {
	display: inline-block;
	margin: 5px;
	border: 1px solid #232323;
	border-radius: 20px;
	-moz-border-radius: 20px;
	width: 0;
	height: 0;
	padding: 20px;
	background-color: #0fe243;
}
.bulb.state-error {
	background-color: #e34b43;
}
